/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  scroll-behavior: smooth;
}

footer,
header,
section {
  display: block;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
}

/* Desing */
body {
  font-family: "Roboto", sans-serif;
  display: block;
}

p,
h2 {
  color: #111;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/assets/claudio-schwarz-oNWvPQXoEKc-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__p {
  font-size: 64px;
  color: #eee;
}

.nav {
  position: absolute;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 48px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__h2 {
  font-size: 40px;
  margin-bottom: 24px;
  color: #eee;
}
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.nav__link a {
  color: #eee;
}
.nav__link a:hover {
  filter: brightness(92%);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.nav__link a:focus {
  filter: brightness(80%);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 64px auto;
  padding: 24px;
}
.section__h2 {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 500;
}
.section__wrapper {
  display: flex;
  row-gap: 24px;
}
.section__wrapper--img-right {
  flex-direction: row-reverse;
}
.section__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 20vw;
  height: auto;
}
.section__p {
  width: auto;
  max-width: 700px;
  padding-left: 24px;
}
.section__p--img-right {
  padding-left: 0;
  padding-right: 24px;
}
.section--img-right {
  background-color: antiquewhite;
}

.footer {
  background-color: #111;
  color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer__title {
  color: #eee;
  font-size: 24px;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 16px;
  margin-bottom: 36px;
}
.form__button--submit {
  background-color: antiquewhite;
  color: #111;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 4px;
}
.form__button--submit:hover {
  filter: brightness(92%);
}
.form__button--submit:focus {
  filter: brightness(80%);
}
.form__wrapper {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  max-width: 480px;
}
.form__label {
  color: #eee;
}
.form__input {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 300px;
  background-color: #eee;
  padding: 6px 8px;
  border-radius: 4px;
}
.form__input--message {
  height: 100px;
  min-height: 100px;
  position: relative;
  resize: vertical;
}/*# sourceMappingURL=style.css.map */