/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;

  scroll-behavior: smooth;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  user-select: auto;
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-line-break: after-white-space;
  user-select: auto;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 48px 64px;
  background-color: #f3f4f6;
}

.header {
  max-width: 700px;
  &__h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 16px;
  }
  &__p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}

.form {
  max-width: 700px;
  margin-top: 48px;
  background-color: white;
  padding: 40px;
  width: 100%;
  border-radius: 6px;
  &__wrapper {
    margin-bottom: 24px;
  }
  &__label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 100px;
    margin-bottom: 4px;
  }
  &__input {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 8px;
    height: 36px;
    background-color: white;
    width: 100%;
    border-radius: 6px;
    border: 1px #d1d5db solid;

    &:focus {
      border: 1px #7c3aed solid;
    }
    &--error {
      border: 1px red solid;
      &:focus {
        border: 1px red solid;
      }
    }
  }
  &__button {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    color: white;
    background-color: #7c3aed;
    padding: 16px 24px;
    border-radius: 8px;
    margin-bottom: 24px;
    &:hover {
      filter: brightness(0.96);
    }
    &:active {
      filter: brightness(0.92);
    }
  }
  &__output {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  &__feedback-price--error,
  &__feedback-money--error {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: red;
  }
}
