* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Baloo Thambi 2", cursive;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input[type=radio]:checked {
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(230, 230, 230, 0.5), inset -5px 5px 10px rgba(230, 230, 230, 0.2), inset 5px -5px 10px rgba(230, 230, 230, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(230, 230, 230, 0.9);
}

.main {
  padding: 48px;
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.rotate {
  transform: rotate(-45deg);
}

.gradient {
  height: 100%;
  box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  border-radius: 50px;
}

.header {
  margin-bottom: 32px;
}
.header__h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 4px;
}
.header__p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
.form__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}
.form__fieldset {
  display: flex;
  gap: 16px;
  border: 0;
  margin: 0;
  padding: 0;
}
.form__legend {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  padding: 0;
  margin-bottom: 12px;
}
.form__input-color {
  box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  height: 56px;
  width: 56px;
  border-radius: 16px;
  border: none;
  background-color: transparent;
}
.form__input-color:hover {
  cursor: pointer;
}
.form__input-color:active {
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(230, 230, 230, 0.5), inset -5px 5px 10px rgba(230, 230, 230, 0.2), inset 5px -5px 10px rgba(230, 230, 230, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(230, 230, 230, 0.9);
}
.form__input-color::-webkit-color-swatch-wrapper {
  padding: 10px;
  border-radius: 16px;
  background-color: transparent;
}
.form__direction {
  box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 16px;
}
.form__direction:hover {
  cursor: pointer;
}
.form__direction:active {
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(230, 230, 230, 0.5), inset -5px 5px 10px rgba(230, 230, 230, 0.2), inset 5px -5px 10px rgba(230, 230, 230, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(230, 230, 230, 0.9);
}
.form__direction label {
  cursor: pointer;
}
.form__input {
  display: none;
}

.output__h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}
.output__p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
  background-color: transparent;
}

.fa-solid {
  padding: 16px;
}/*# sourceMappingURL=style.css.map */